<p class="govuk-body">You must provide a letter of consent from the subject of this request which:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>states that they consent to their information being released to you</li>
  <li>is signed by them</li>
  <li>is dated within the last 6 months</li>
</ul>
<p class="govuk-body-m">There is no official template</p>
<p class="govuk-body-m"><%= t("helpers.hint.request_form.letter_of_consent_file_size") %></p>

<%= f.hidden_field :letter_of_consent_id %>
<%= f.hidden_field :default %>
