<% content_for :caption do %>
  <%= t("service.other.name") %>
<% end %>

<p class="govuk-body-l">We may be able to respond faster if we know what time period you want this information to cover.</p>

<p class="govuk-body">Providing dates here will also make sure we do not send you more information than you need.</p>
<p class="govuk-body">Leave this page blank if you would like information since the start of the sentence, or can't remember.</p>

<%= f.govuk_date_field :form_moj_other_date_from %>
<%= f.govuk_date_field :form_moj_other_date_to %>
