<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel(title_text: "Request sent", text: "We will let you know if we have enough information to start processing your request and, if we do, send you a reference number by post or email.") %>

    <h3 class="govuk-heading-m">What happens next</h3>

    <p class="govuk-body">If you provided an email address, we have sent you an email with a copy of this completed form and details of how to contact us.</p>

    <p class="govuk-body">We will contact you if we need more details to be able to answer your request.</p>

    <p class="govuk-body">When we have all the information we need, you should receive a response within 30 days.</p>

    <%= govuk_warning_text(text: "Asking for updates during this 30 day time period may mean it takes longer to get the information you want.") %>
  </div>
</div>
