<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Give feedback on this service</h1>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h2 class="govuk-fieldset__heading">
            Overall, how did you feel about the service you received today?
          </h2>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="feelAboutService" name="feelAboutService" type="radio" value="verysatisfied">
            <label class="govuk-label govuk-radios__label" for="feelAboutService">
              Very satisfied
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="feelAboutService-2" name="feelAboutService-2" type="radio" value="satisfied">
            <label class="govuk-label govuk-radios__label" for="feelAboutService-2">
              Satisfied
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="feelAboutService-3" name="feelAboutService-3" type="radio" value="neithersatisfieddissatisfied">
            <label class="govuk-label govuk-radios__label" for="feelAboutService-3">
              Neither satisfied or dissatisfied
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="feelAboutService-4" name="feelAboutService-4" type="radio" value="dissatisfied">
            <label class="govuk-label govuk-radios__label" for="feelAboutService-4">
              Dissatisfied
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="feelAboutService-5" name="feelAboutService-5" type="radio" value="verydissatisfied">
            <label class="govuk-label govuk-radios__label" for="feelAboutService-5">
              Very dissatisfied
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
      <h2 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="with-hint">
          How could we improve this service?
        </label>
      </h2>
      <div id="with-hint-hint" class="govuk-hint">
        Do not include personal or financial information, for example your National Insurance or credit card numbers.
      </div>
      <textarea class="govuk-textarea govuk-js-character-count" id="word-count" name="wordCount" rows="5" aria-describedby="word-count-info"></textarea>
      <div id="word-count-info" class="govuk-hint govuk-character-count__message">
        You have 1200 characters remaining
      </div>
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Send feedback
    </button>
  </div>
</div>
