<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Give feedback on Request personal information</h1>
    <div class="govuk-form-group">
      <h2 class="govuk-heading-l">Satisfaction survey</h2>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h3 class="govuk-fieldset__heading">
            Overall, how did you feel about the service you received today?
          </h3>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="feel_about_service_very_satisfied" name="feel_about_service" type="radio" value="very_satisfied">
            <label class="govuk-label govuk-radios__label" for="feel_about_service_very_satisfied">
              Very satisfied
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="feel_about_service_satisfied" name="feel_about_service" type="radio" value="satisfied">
            <label class="govuk-label govuk-radios__label" for="feel_about_service_satisfied">
              Satisfied
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="feel_about_service_neither" name="feel_about_service" type="radio" value="neither">
            <label class="govuk-label govuk-radios__label" for="feel_about_service_neither">
              Neither satisfied nor dissatisfied
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="feel_about_service_dissatisfied" name="feel_about_service" type="radio" value="dissatisfied">
            <label class="govuk-label govuk-radios__label" for="feel_about_service_dissatisfied">
              Dissatisfied
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="feel_about_service_very_dissatisfied" name="feel_about_service" type="radio" value="very_dissatisfied">
            <label class="govuk-label govuk-radios__label" for="feel_about_service_very_dissatisfied">
              Very dissatisfied
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="with-hint">
          How could we improve this service?
        </label>
      </h3>
      <div id="with-hint-hint" class="govuk-hint">
        Do not include any personal or financial information, for example your National Insurance or credit card numbers.
      </div>
      <textarea class="govuk-textarea govuk-js-character-count" id="word-count" name="wordCount" rows="5" aria-describedby="word-count-info"></textarea>
      <div id="word-count-info" class="govuk-hint govuk-character-count__message">
        You have 1200 characters remaining
      </div>
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Send feedback
    </button>
  </div>
</div>
