<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <h1 class="govuk-heading-l">Sorry, there was a problem</h1>
    <p class="govuk-body">Try again later.</p>
  </main>
</div>
